.iframe-container {
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 50px;
    background: #fff;

    iframe {
        position: absolute;
        /*top: 80px;*/
        left: 50%;
        transform: translateX(-50%);
        border: unset;
        /*width: 325px;*/
        /*height: 592px;*/
        width: 100vw;
        height: 100%;
        top: 50px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    }
}