$vanila: #f5f4bc;
$darkpurple: #220f21;
$midpurple: #312450;
$midpurple_with_opacity: rgba(49, 36, 80, 0.97);
$lightpurple: #5e42a6;
$darkblue: #040439;
$darkblue_with_opacity: rgba(4, 4, 57, 0.9);
$midblue: #0b0b5f;
$yellowstar: #fefe54;

$title-font: "Allerta Stencil",
sans-serif;
$div-space: 30vh;