@import "../../../variables.scss";

.logo {
    background: url("../../../images/logo.png") no-repeat center;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-size: 92px 92px;
    position: fixed;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: $vanila;
    -webkit-animation: animate-logo 5s linear infinite;
    -o-animation: animate-logo 5s linear infinite;
    animation: animate-logo 5s linear infinite;
    z-index: 2;
}

.logo:hover {
    background-color: $lightpurple !important;
    transition: 0.4s;
}


  /** animation of logo **/
  @keyframes animate-logo {
    0%,
    100% {
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
  
    25% {
      border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }
  
    50% {
      border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }
  
    75% {
      border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }
  }